*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#start{
    width: 50px;
    height: 50px;
}
#replay{
    width: 50px;
    height: 50px;
}
#game{
    width: 500px;
    height: 200px;
    border: 1px solid black;
    background-image: url('../img/game.png');
}
#character{
    width: 20px;
    height: 50px;
    background-color: blue;
    position: relative;
    top: 150px;
    left: 30px;
}
.animate{
    animation: jump 500ms;
}
#block{
    width: 20px;
    height: 20px;
    background-image: url('../img/slime.png');
    position: relative;
    top: 130px;
    left: 480px;
}
.blockAnimate{
    animation: block 1.9s infinite linear;
}
@keyframes jump {
    0%{top: 150px;}
    20%{top: 135px;}
    30%{top: 95px;}
    40%{top: 65px;}
    50%{top: 40px;}
    60%{top: 40px;}
    70%{top: 85px;}
    80%{top: 105px;}
    90%{top: 135px;}
    100%{top: 150px;}
}
@keyframes block {
    0%{
        left: 480px;
    }
    100%{
        left: 0px;
    }
}