*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#start{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: rgb(207, 255, 36);
}
#replay{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: green;
}
#game{
    width: 500px;
    height: 200px;
    border: 1px solid black;
}
#character{
    width: 20px;
    height: 50px;
    background-color: blue;
    position: relative;
    top: 150px;
    left: 30px;
}
.animate{
    animation: jump 500ms;
}
#block{
    width: 20px;
    height: 20px;
    background-color: red;
    position: relative;
    top: 130px;
    left: 480px;
    
}
.blockAnimate{
    animation: block 1s infinite linear;
}
@keyframes jump {
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100;}
    100%{top: 150px;}
}
@keyframes block {
    0%{
        left: 480px;
    }
    100%{
        left: 0px;
    }
}